@import "../../scss//variables.scss";

.container {
  padding-top: 15px;
  display: flex !important;
  align-items: center;
  justify-content: space-between;
  @media (max-width: 600px) {
    flex-direction: column;
    align-items: flex-start;
  }
  .logo {
    display: flex;
    align-items: center;
    @media (max-width: 650px) {
      margin-bottom: 25px;
    }
    .image {
      width: 65px;
      height: 65px;
    }
    .title {
      font-family: "Montserrat", sans-serif !important;
      text-transform: uppercase;
      font-style: normal;
      font-weight: 700;
      font-size: 25px;
      line-height: 30px;
      text-transform: uppercase;
      color: $text-blue;
      margin-left: 15px;
    }
  }
}
