@import "./libs/normalize.scss";
@import "./variables.scss";

.main {
  position: relative;
  background-color: #fff;
}

// Leaflet

.leaflet-container {
  height: 300px;
  width: 100%;
  border-radius: 20px;
  box-shadow: $box-shadow-block;
}

// Swiper

.swiper-wrapper {
  padding: 10px !important;
}
